body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: normal;
    max-width: 100%;
    margin: 0 auto;
}

header {
    background-color: blueviolet;
    padding: 5%;
}

footer {
    background-color: green;
    padding: 5%;
}

section {
    margin-top: 50px;
}


h1 {
    font-size: x-large;
}

h2 {
    font-size: large;
}

img {
    max-width: 100%;
    height: auto;
}

a:hover {
    color: aquamarine;
}

#main {
    padding: 5%;
}

#projects {
    background-color: blue;
}

.card {
    color: white;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    padding-left: 10px;
}

nav a {
    text-decoration: none;
}


